@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/*-----------------navbar section-------------- -*/
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
   

}
body{
    background: #fff;
}

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar
{
    background: linear-gradient(to right, #034151, #027861);
    padding: 0 !important;
}

.btn{
    margin: 0 10px;

}

.dropdown-item
{

    font-size: 12px;
    color: #034151;
}

.btn span{
    font-size:12;
    
}

#container-top{
    background: #fff;
    margin: 10px 0;
    padding:  5px 5px;
    border-radius: 5px;
}


.breadcrumb li{
    font-weight: 100;
}

#container-bottom{
    background: #fff;
    margin: 10px 0;
    padding:  5px 5px;
    border-radius: 5px;
}

/*https://www.youtube.com/watch?v=FEmysQARWFU*/

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap
    : wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }

  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
    width: 100%;
  }

  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 20px;
  }

  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  input[type=file] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  input[type=date] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  input[type=checkbox]{
    margin: 10px 10px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }

  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  .btn1{
    background-color: #027861;
    color: white;
    padding: 12px;
    margin: 10px 10px;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  
  }
  .btn1:hover {
    background-color:#027861;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }