@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


/*-----------------navbar section-------------- -*/
*
{
    margin :0;
    padding: 0;
}
body
{
    font-family: 'Montserrat', sans-serif;
}


#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar
{
    background-image: linear-gradient(to right, #034151, #027861);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
    float: right;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-sign-out{
    color: #fff !important;
    float: right;
    text-align: left;
    padding: 10px 10px;
    float: right;   
}

.fa-bars
{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}
p
{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 12px;
    text-decoration: none;
    margin: 3.5px 0;
}
/*-----------------banner section-------------- -*/
#banner
{
    background-image: linear-gradient(to right, #034151, #027861);
    color: #fff;
    padding-top: 5%;
}

.promo-title{
    font-size: 35px;
    font-weight: 500;
    margin-top: 100px;

}
h1{
    font-weight: bold;
    margin: 0;
    line-height: 35px;
}
.nosertif-form-control
{
    margin: 0;
    padding: 4px 50px;
    border-radius: 50px;
    border: 1px solid;
    border-color: #fff;
}
.nosertif-btn{
    margin: 0 2px;
    padding: 5px 25px;
    background:linear-gradient(to right, #034151, #027861);
    border-radius: 50px;
    color: #fff !important;
    text-decoration: none !important;
    border: 2px solid;
}
#banner a{
    color: #ffffff;
    text-decoration:none;
}
.img-fluid{
   
    width: 80%;
}
.bottom-img{
    width: 100%;
    
}
/*-----------------aboutus section-------------- -*/
#aboutus
{
    padding: 130px 0;
}

.aboutus-img
{
    width: 100px;
    margin-top: 15px;
}
.aboutus
{
    padding: 50px;
}

.aboutus h4
{
    padding: 5px;
    margin-top: 25 px;
    text-transform: uppercase;
}
.title::before
{
    content: '';
    background: #034151;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after
{
    content: '';
    background: #034151;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
    
}

/*-----------------social-media section-------------- -*/
#social-media
{
    background: #fff;;
    padding: 100px 0;
}
#social-media p
{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img
{
    background:transparent;
    width: 80px;
    transition: 0.5s;
}
.social-icons a:hover img
{
    transform: translateY(-10px);
}

/*-----------------footer section-------------- -*/
#footer
{
    background-image: linear-gradient(to right,#027861, #034151);
    color: #fff;
}

.footer-img
{
    width: 100%;
}

